# LaTeX files
praca.pdf
praca-blx.bib
*.aux
praca.bbl
praca.blg
praca.run.xml
praca.synctex.gz
praca.toc
praca.log
praca.fls
praca.out
praca.fdb_latexmk

# Visual Studio Code settings directory
.vscode/
